<div class="grid md:grid-cols-3 gap-6">
  <div class="p-6 bg-white rounded shadow">Blocks: <%= @blocks_count %></div>
  <div class="p-6 bg-white rounded shadow">Lessons: <%= @lessons_count %></div>
  <div class="p-6 bg-white rounded shadow">Users: <%= @users_count %></div>
</div>
