<div>
  <div class="bg-red-500 text-white p-4">
    Tailwind работает
  </div>

  <div x-data="playerData()">
    <button @click="play()">▶ Play</button>
    <button @click="stop()">■ Stop</button>

    <div x-show="isPlaying">
      Плеер играет!
    </div>
  </div>

  <div id="notation"></div>

  <button
    class="mt-4 px-4 py-2 bg-green-600 text-white rounded"
    onclick="
    ABCJS.renderAbc('notation', `
      X:1
      K:C
      [CEG] [ACE] [FAC] [GBD]
    `)
  "
  >
    Показать аккорды
  </button>
</div>

<div data-controller="abc">
  <div data-abc-target="notation"></div>
  <button data-action="click->abc#play">▶️ Play</button>
</div>
