<div>
  <div class="bg-blue-500 text-white p-4">
    Tailwind работает
  </div>
  <!-- Alpine Player -->
  <div x-data>
    <button @click="$store.player.actions.play()">▶ Play</button>
    <button @click="$store.player.actions.stop()">■ Stop</button>

    <div x-show="$store.player.store.$isPlaying">
      Плеер играет!
    </div>
  </div>

  <div data-controller="abc">
    <div data-abc-target="notation"></div>

    <button data-action="abc#play">
      ▶ Play scale
    </button>
  </div>

  <div data-controller="abc-interval">
    <div data-abc-interval-target="buttons"></div>
    <div data-abc-interval-target="feedback" class="mt-2 mb-2"></div>
    <button
      data-action="abc-interval#playInterval"
      class="px-4 py-2 bg-blue-600 text-white rounded"
    >
      ▶️ Play Interval
    </button>
  </div>
</div>
